body {
    background: gold;
}
#center {
    margin: auto;
    width: 400px;
    text-align: center;
}
#dado {
    border-radius: 5px;
    width: 200px;
}
button {
    margin-top: 20px;
    width: 100px;
    background: green;
    border-radius: 5px;
}